.app {
  position: relative; 
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure backdrop is behind other content */
  opacity: 0.5;
}

.movie-list {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  bottom: 0; /* Ensures it starts from the top of the viewport */
}

.movie-item {
  position: relative;
  width: 12.15%;
  height: 30vh;
  margin-bottom: 2%;
  border-radius: 1%;
  overflow: hidden;
}

.movie-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.movie-item .movie-title {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  bottom: 10%;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  font-size: 0.85vw;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.08); /* Semi-transparent background */
}

.movie-details {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 60%;
  left: 8.5%;
  right: 14%;
  top: 3%;
}

.movie-image-container {
  position: relative;
  width: 100%;
  object-fit: cover;
  left: 3.6%; 
  right: 10%; 
}

.expanded-image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center top; 
  margin-bottom: 2%;
  border-radius: 4%;
}

.movie-image-container .movie-title {
  position: absolute; 
  justify-content: center;
  flex-wrap: wrap;
  top: 27%; 
  left: 16%; 
  color: white;
  font-size: 2.9vw;
  font-weight: bold;
}

.favorite-mark {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  top: 29%;
  left: 32%;
}

.star-icon{
  transform: rotate(15deg);
  width: 1.6vw;
  height: 1.6vw;
}
